.pokeberry-swipe-carousel__outer-container {
  position: 'relative';
  overflow-x: 'scroll';
  scroll-snap-type: 'x mandatory';
}

.pokeberry-swipe-carousel__outer-container.hide-scrollbar { 
  scrollbar-width: none;
}
.pokeberry-swipe-carousel__outer-container.hide-scrollbar::-webkit-scrollbar { 
  display: none;
}

.pokeberry-swipe-carousel__inner-container {
  display: flex;
}

.pokeberry-swipe-carousel__item {
  min-width: 100%;
}

.pokeberry-swipe-carousel__indicator-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 0 auto;
  height: 3rem;
  width: fit-content;
}

.pokeberry-swipe-carousel__indicator {
  background-color: #d3d3d3;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
}

.pokeberry-swipe-carousel__indicator.active {
  background-color: #5e5d5d;
}
