{
  "extension": [
    ".js",
    ".ts",
    ".tsx"
  ],
  "extends": "/nyc.config.js",
  "check-coverage": true,
  "include": [
    "lib/components/**/*.tsx",
    "lib/hooks/**/*.ts"
  ],
  "report-dir": "coverage/coverage-cypress"
}
